html, body {
    margin: 0px;
    height: 100%;
    font-family: 'DynaPuff', cursive;
}

::-webkit-scrollbar{
    background-color: lightblue;
    width: 0.5em;
}

::-webkit-scrollbar-thumb{
    background-color:rgb(60, 60, 156);
    border-radius: 22px;
}

header {
    background-color: lightblue;
    padding: 3em 0px;
}

.logo {
    vertical-align: middle;
    width: 2.5em;
}

header h1 {
    font-size: 2em;
    display: inline;
    padding-left: 15%;
}

.recargar {
    text-decoration: none;
}

main {
    padding-top: 2em;
    background-color: lightblue;
    position: flex;
    margin: 0px;
    height: 85%;
}

.Formularios {
    display: flex;
    height: 70%;
    padding: 0px 2em;
    text-align: center;
}

.entrada-de-texto{
    width: 50%;
    height: 100%;
}

.text-input{
    width: 90%;
    height: 70%;
    border-radius: 15px;
    resize: none;
    font-size: 1.5em;
    color: darkblue;
    border-color: darkblue;
    padding: 0.5em;
    border-width: 2px;
}

.resultado-final{
    width: 50%;
    height: 100%;
}

.texto-salida{
    width: 90%;
    height: 70%;
    border-radius: 15px;
    background-image: url(Imagenes/mensaje.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
    resize: none;
    font-size: 1.5em;
    color: darkblue;
    border-color: darkblue;
    padding: 0.5em;
    border-width: 2px;
}

.marca-advertencia{
    display: flex;
    padding-top: 1em;
    padding-left: 15%;
}

.botones-interaccion {
    text-align: center;
}

footer {
    background-color: lightblue;
    text-align: center;
    padding: 2em 0;
}