html, body {
    margin: 0px;
    height: 100%;
    font-family: 'DynaPuff', cursive;
}

header {
    background-color: lightblue;
    padding: 3em 1.5em;
}

.logo {
    vertical-align: middle;
    width: 2.5em;
}

header h1 {
    font-size: 2em;
    display: inline;
}

.recargar {
    text-decoration: none;
}

main {
    background-color: lightblue;
    position: flex;
    margin: 0px;
    height: 70%;
}

.Formularios {
    display: flex;
    height: 70%;
    padding: 0px 2em;
    text-align: center;
}

.entrada-de-texto{
    width: 50%;
    height: 100%;
}

.text-input{
    width: 90%;
    height: 70%;
    border-radius: 15px;
    background-color: rgb(163, 227, 243);
    resize: none;
    font-size: 1.5em;
    color: darkblue;
    border-color: darkblue;
    border-width: 2px;
}

.resultado-final{
    width: 50%;
    height: 100%;
}

.texto-salida{
    width: 90%;
    height: 70%;
    border-radius: 15px;
    background-color: rgb(163, 227, 243);
    resize: none;
    font-size: 1.5em;
    color: darkblue;
    border-color: darkblue;
    border-width: 2px;
}

.advertencia {
    display: block;
    font-size: 0.7em;
}

.botones-interaccion {
    text-align: center;
}

footer {
    background-color: lightblue;
    text-align: center;
    padding: 2em 0;
}