body{
    font-family: 'DynaPuff', cursive;
}

header{
    background-color: lightblue;
    padding: 3em 1.5em;
}

.logo{
    vertical-align: middle;
    width: 64px;
}

header h1{
    font-size: 32px;
    display: inline;
}

header h1 a{
    text-decoration: none;
}